*{
    box-sizing: border-box;
}

::selection{
    background: $color2;
    color: #FFF;
}

body{
    overflow-x: hidden;
    color: $fontColor;
    font-family: $fontText;
    font-size: 1em;
}

@include hasta($large){
    body{
        font-size: .95em;
    }
}

.btn{
    display: inline-block;
    padding: 0 1em;
    height: 2.2em;
    line-height: 2.2em;
    text-decoration: none;
    color: #FFF;
    font-family: $fontTitle;
    font-size: 1.08em;
    position: relative;
    
    &:after{
        content: "";
        width: 100%;
        height: 100%;
        background: $color2;
        background-image:linear-gradient(90deg, lighten($color2, 5%), $color2);
        position: absolute;
        left: 0;
        top: 0;
        transform: skewX(-25deg);
        z-index: -1;
        transition: ease .3s;
        box-shadow: 0 0 .3em rgba(0,0,0, .2);
    }
    
    &:hover:after{
        background: lighten($color2, 8%);
        box-shadow: 0 .1em .3em rgba(0,0,0, .3);
    }
    
    &:active{
        transform: scale(.9);
    }
}

.container{
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;;
}

@include hasta($small){
    .container{
        width: 90%;
    }
}

.dest{
    font-family: $fontTitle;
    font-weight: normal;
    color: $fontColor;
    text-align: center;
    position: relative;
    max-width: 8em;
    margin: 1em auto;
    
    &:after{
        content: "";
        bottom: -.3em;
        left: 2em;
        width: 2em;
        height: .2em;
        position: absolute;
        background: $color2;
        transform: skewX(-25deg);
    }
}

.read-more{
    position: relative;
    transition: ease .3s;
    
    &:after{
      content: "»";
      opacity: 0;
      position: absolute;
      right: 0;
      transition: ease .4s;
    }
    
    &:hover{
      color: $color2;
        
        &:after{
            color: $color2;
            opacity: 1;
            right: -.8em;
        }
    }
}

.text-center{
    text-align: center;
    font-size: .9em;
}

.up{
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    display: block;
    width: 2em;
    height: 2em;
    background-image:linear-gradient(90deg, lighten($color2, 5%), $color2);
    transform: skewX(-25deg);
    z-index: 200;
    box-shadow: 0 .8em 1em -.6em rgba(0,0,0, .4);
    
    &:before{
        content: "";
        width: 60%;
        height: 60%;
        position: absolute;
        left: .3em;
        top: .3em;
        background: url(../img/arrow-dir.svg) center center no-repeat;
        background-size: contain;
        transform: skewX(25deg) rotateZ(90deg);
    }
    
    &:hover{
        background: lighten($color2, 8%);
    }
}

/*! Borrar */

.contactenos{
    
    & img{
        display: block;
        width: 100%;
        margin: 0 auto;
    }
}