.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

#Slider{
    font-size: 1em;
    position: relative;
    z-index: 10;
    
//    &:before{
//        content: "";
//        display: block;
//        height: 10em;
//    }
}

// Container
.content{
    position: absolute;
    width: 80%;
    max-width: 1200px;
    top: 40%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 1em;
    transform: translateY(-40%);
    
    text-align: right;
    
    &__title{
        font-size: 3.2em;
        color: $color1;
        margin: 0;
        font-family: $fontTitle;
        font-weight: normal;
    }
    
    &__description{
        display: block;
        color: #FFF;
        font-size: 1em;
    }
    
    & .btn{
        margin-right: 14em;
        margin-top: 1em;
    }
}

// Tabs
.rslides_tabs{
    position: absolute;
    bottom: 1em;
    z-index: 20;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    list-style: none;
    padding: 0;
    text-align: center;
    
    & li{
        display: inline-block;
        background: $color1;
        width: 1.1em;
        height: 1.1em;
        margin-left: .8em;
        vertical-align: middle;
        transition: ease .3s;
        transform: skewX(-25deg);
    }
    
    & li.rslides_here{
        background: $color2;
    }
    
    & a{
        display: block;
        color: transparent;
    }
}


// Navigation
.rslides_nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;
}
.prev,
.next{
    font-size: 1.5em;
    text-decoration: none;
    font-family: $fontText;
    color: transparent;
    width: 1.2em;
    height: 1.2em;
    margin: 0 2em;
    background-image:linear-gradient(90deg, lighten($color2, 5%), $color2);
    transform: skewX(-25deg);
    
    &:after{
        content: "";
        width: .7em;
        height: .7em;
        background: url(../img/arrow-dir.svg) center center no-repeat;
        background-size: contain;
        display: block;
        position: absolute;
        top: 50%;
        left: .1em;
        transform: translateY(-50%) skewX(25deg);
    }
    
    &:hover{
        background: lighten($color2, 8%);
    }
}

.next{
    right: 0;
    
    &:after{
        transform: rotateY(180deg) skewX(-25deg);
        transform-origin: center center;
        top: 20%;
        left: .2em;
    }
}


@include hasta($medium){
    .content{
        font-size: .9em;
    }
    .rslides_tabs{
        display: none;
    }
}

@include hasta($small){
    .content,
    .rslides_nav,
    .rslides_tabs{
        display: none;
    }
}
